@{
    ViewData["Title"] = "Home Page - Customer";
}

<h1>Welcome to the Customer Home Page</h1>
@(await Component.InvokeAsync("Demo", new { greeting = "Hello", name = "John" }))
@* <vc:demo greeting="Hello" name="John" /> *@