<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Atlantis Lite - Bootstrap 4 Admin Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="/alantis-theme/img/icon.ico" type="image/x-icon"/>

    <!-- Fonts and icons -->
    <script src="/alantis-theme/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: {"families":["Lato:300,400,700,900"]},
            custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/alantis-theme/css/fonts.min.css']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/alantis-theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="/alantis-theme/css/atlantis.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/alantis-theme/css/demo.css">
</head>
<body>
    <div class="wrapper">
        @(await Html.PartialAsync("Partials/_Header"))
        @(await Html.PartialAsync("Partials/_Sidebar"))
        <div class="main-panel">
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">Dashboard</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="#"><i class="flaticon-home"></i></a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Pages</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Starter Page</a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-category">@RenderBody()</div>
                </div>
            </div>
            @(await Html.PartialAsync("Partials/_Footer"))
        </div>

    </div>
    <!--   Core JS Files   -->
    <script src="/alantis-theme/js/core/jquery.3.2.1.min.js"></script>
    <script src="/alantis-theme/js/core/popper.min.js"></script>
    <script src="/alantis-theme/js/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="/alantis-theme/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="/alantis-theme/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="/alantis-theme/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


    <!-- Chart JS -->
  @*   <script src="/alantis-theme/js/plugin/chart.js/chart.min.js"></script> *@

    <!-- jQuery Sparkline -->
@*     <script src="/alantis-theme/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script> *@

    <!-- Chart Circle -->
  @*   <script src="/alantis-theme/js/plugin/chart-circle/circles.min.js"></script> *@

    <!-- Datatables -->
   @*  <script src="/alantis-theme/js/plugin/datatables/datatables.min.js"></script> *@

    <!-- Bootstrap Notify -->
    <script src="/alantis-theme/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
 @*    <script src="/alantis-theme/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="/alantis-theme/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script> *@

    <!-- Sweet Alert -->
    <script src="/alantis-theme/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Atlantis JS -->
    <script src="/alantis-theme/js/atlantis.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
